# Dependencies
node_modules
.pnpm-store

# Build
dist
dist-ssr

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.local

# Trae docs (keep)
!.trae

# 内部文档（不入库）
.trae
